<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html {
        height:100%;
        }

        body {
        background-color:#608d91;
        height: 100%;
        }
    </style>
</head>
<body>
    <div style="display: grid; grid-template-rows: 1fr 1fr 1fr 1fr 1fr; grid-template-columns: 1fr 1fr 1fr 1fr; gap:0px 150px; height:100%;">
        <div>music</div>
        <div></div>
        <div>resolution</div>
        <div></div>
        <div>sound fx</div>
        <div></div>
        <div>fullscreen</div>
        <div></div>
        <div>langue</div>
        <div></div>
        <div>sensitivity</div>
        <div></div>
        <div>controls</div>
        <div></div>
        <div>vibration</div>
        <div></div>
        <div>levels progress</div>
        <div></div>
        <div>tap to hold</div>
        <div></div>

    </div>
</body>
</html>