<div style="display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 1fr; gap:0px 150px;">

    <div class=head style="font-family: walkway; color:white; margin-top:100px;">
    <h1 style="margin-bottom:0"> our
        <br> tech</h1>
</div>

    <div class="text" style="padding-top: 5%;">
            <div class="orange_point" style="margin-top: 100px;"></div>
            <div class="text" style="justify-content: center; gap: 10px; color:white;">
                <p> Lorem Ipsum is simply dummy text of the printing and
                    <br> typesetting industry. Lorem Ipsum has been
                    <br>the industry's standard dummy text ever since the 1500s,
                    <br>when an unknown printer took a galley of type and
                    <br>scrambled it to make a type specimen book.

                </p>
            </div>
        </div>

<div class="text" style="justify-content: center; gap: 10px; text-align: right; color:white;">
     <p> Lorem Ipsum is simply dummy text of the printing and
                <br> typesetting industry. Lorem Ipsum has been
                <br>the industry's standard dummy text ever since the 1500s,
                <br>when an unknown printer took a galley of type and
                <br>scrambled it to make a type specimen book. It has
                <br>survived
     </p>
</div>