<div style="height: 100%; width: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
    <div class="circle"></div>
</div>

<div style="height: 100%; width: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
    <div class="big_speaker">
        <img src="/static/big_speaker.png" alt="big">
    </div>
</div>

<h1 class="pure_audio"> pure audio </h1>
<div class="slogan">
    <p> Sharing the Sound of your life</p>
</div>


<div class="brown">
    <div style="padding-top: 5%;">
        <div class="stars">
            <img src="/static/star.png" alt="star" style="height: 15px">
            <img src="/static/star.png" alt="star" style="height: 15px">
            <img src="/static/star.png" alt="star" style="height: 15px">
            <img src="/static/star.png" alt="star" style="height: 15px">
            <img src="/static/star.png" alt="star" style="height: 15px">
        </div>
        <div class="review">
            <p> bla bla bla bla
                <br> bla bla bla bla bla
                <br> bla bla bla bla bla bla
            </p>
        </div>
    </div>
    <div></div>
    <div>
        <div class="row" style="padding-top: 20%;">
            <div class="orange_circle">
                <img src="/static/wifi.png" alt="bluetooth"
                     style="height: 30px; filter: invert(100%) sepia(100%) saturate(21000%) hue-rotate(1023deg) saturate(500%)"
                >
            </div>

            <div class="orange_circle">
                <img src="/static/lightning.png" alt="bluetooth"
                     style="height: 30px; filter: invert(100%) sepia(100%) saturate(21000%) hue-rotate(1023deg) saturate(500%)"
                >
            </div>

            <div class="orange_circle">
                <img src="/static/bluetooth.png" alt="bluetooth"
                     style="height: 30px; filter: invert(100%) sepia(200%) saturate(121000%) hue-rotate(1023deg) saturate(500%)"
                >
            </div>
        </div>
        <div class="speaker_text">
            <p> Speakers for every occasion
                <br> with crystal clear sound
            </p>
        </div>
    </div>

    <div class="row" style="grid-column: 2; justify-content: center; gap: 10px;">
        <div class="orange_circle" style="background: unset;">
            <img src="/static/left-arrow.png" alt="big"
                 style="height: 15px; filter: invert(100%) sepia(200%) saturate(121000%) hue-rotate(1023deg) saturate(500%)">
        </div>

        <div class="orange_circle">
            <img src="/static/square.png" alt="big" style="height: 35px">
        </div>

        <div class="orange_circle">
            <img src="/static/big_speaker.png" alt="big" style="height: 25px">
        </div>

        <div class="orange_circle">
            <img src="/static/trans.png" alt="big" style="height: 35px">
        </div>

        <div class="orange_circle" style="background: unset;">
            <img src="/static/right-arrow.png" alt="big"
                 style="height: 15px; filter: invert(100%) sepia(200%) saturate(121000%) hue-rotate(1023deg) saturate(500%)">
        </div>
    </div>

</div>

<div class="orange">
    <h1> try now -- try now -- try now -- try now -- try now -- try </h1>
</div>