<div style="display: grid; grid-template-columns: 1fr 1fr; gap:0px 100px; height:100%">
    <div style="display:grid; grid-template-rows: 1fr 4fr;">

        <div class=head style="font-family: walkway; ">
        <h1 style="margin-bottom: 30px !important;">our
        <br>product</h1>
        </div>

        <div class="text" style="position: relative; margin-top: 0px;">
            <div class="orange_point" style="position: absolute; right: 0; "></div>
            <div class="text" style="justify-content: center; gap: 10px; text-align:right; margin-top: 60px;">
                <p> Lorem Ipsum is simply dummy text of the printing and
                    <br> typesetting industry. Lorem Ipsum has been
                    <br>the industry's standard dummy text ever since the 1500s,
                    <br>when an unknown printer took a galley of type and


                </p>
            </div>
        </div>
    </div>

    <div style="display:grid; grid-template-rows: repeat(5,110px); margin-top:80px;">
        <div class=p-list style="font-family: walkway; ">
            <h2>Vintage Speakers</h2>
        </div>
         <div class=p-list style="font-family: walkway">
            <h2>Bookshelf Speakers</h2>
        </div>
         <div class=p-list style="font-family: walkway">
            <h2>Gaming Speakers</h2>
        </div>
         <div class=p-list style="font-family: walkway">
            <h2>Custom Speakers</h2>
        </div>
         <div class=p-list style="font-family: walkway">
            <h2>DIY Speakers</h2>
        </div>


    </div>


    </div>